MDWcfWFClient/Service References/MonopolyDealServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="playHouseMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToAddHouseTo" nillable="true" type="q1:GuidBox" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q2:GuidBox" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q3:GuidBox" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q4:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playHouseMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playHouseMDResult" nillable="true" type="q5:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playHotelMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToAddHotelTo" nillable="true" type="q6:GuidBox" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q7:GuidBox" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q8:GuidBox" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q9:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playHotelMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playHotelMDResult" nillable="true" type="q10:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="connectToLobbyResult" nillable="true" type="q11:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGameLobbyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q12:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGameLobbyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="getGameLobbyStatusResult" type="q13:GameLobbyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllGameLobbys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllGameLobbysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="getListOfAllGameLobbysResult" nillable="true" type="q14:ArrayOfGameLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinExistingGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q15:GuidBox" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q16:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinExistingGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joinExistingGameLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinNewGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q17:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinNewGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="joinNewGameLobbyResult" nillable="true" type="q18:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q19:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exitGameLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLobbyClientReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q20:GuidBox" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q21:GuidBox" />
        <xs:element minOccurs="0" name="readyP" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLobbyClientReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setLobbyClientReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollStateMonopolyDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q22:GuidBox" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameGuid" nillable="true" type="q23:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollStateMonopolyDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pollStateMonopolyDealResult" nillable="true" type="q24:PlayFieldModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q25:GuidBox" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q26:GuidBox" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q27:GuidBox" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q28:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw2AtStartOfTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playCardFromHandToBankMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q29:GuidBox" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q30:GuidBox" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q31:GuidBox" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q32:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playCardFromHandToBankMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playCardFromHandToBankMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerTargetedGuid" nillable="true" type="q33:GuidBox" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOnGuid" nillable="true" type="q34:GuidBox" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q35:GuidBox" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q36:GuidBox" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q37:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playWildRentActionCardOnTurnMDResult" nillable="true" type="q38:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCard" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOn" nillable="true" type="q39:GuidBox" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q40:GuidBox" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q41:GuidBox" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q42:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playStandardRentActionCardOnTurnMDResult" nillable="true" type="q43:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNoMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCard" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q44:GuidBox" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q45:GuidBox" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q46:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNoMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playJustSayNoMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doNotPlayJustSayNoMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q47:GuidBox" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q48:GuidBox" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q49:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doNotPlayJustSayNoMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="doNotPlayJustSayNoMDResult" nillable="true" type="q50:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q51:PlayerModel" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q52:Card" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyTo" nillable="true" type="q53:PropertyCardSet" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q54:GuidBox" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q55:GuidBox" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q56:GuidBox" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q57:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSetMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element minOccurs="0" name="isOrientedUp" type="xs:boolean" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q58:GuidBox" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q59:GuidBox" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q60:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSetMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardNewSetMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyCardToMoveID" type="xs:int" />
        <xs:element minOccurs="0" name="isCardUp" type="xs:boolean" />
        <xs:element minOccurs="0" name="moveToExistingSet" type="xs:boolean" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="oldSetGuid" nillable="true" type="q61:GuidBox" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyToGuid" nillable="true" type="q62:GuidBox" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q63:GuidBox" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q64:GuidBox" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q65:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="movePropertyCardMDResult" nillable="true" type="q66:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCardsMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerPaying" nillable="true" type="q67:GuidBox" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cardsToPayWith" nillable="true" type="q68:ArrayOfint" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q69:GuidBox" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q70:GuidBox" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q71:GuidBox" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q72:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCardsMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payCardsMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q73:GuidBox" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q74:GuidBox" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q75:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardsToDiscardIDs" type="xs:int" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q76:GuidBox" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q77:GuidBox" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q78:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discardMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGoMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passGoCardID" type="xs:int" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q79:GuidBox" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q80:GuidBox" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q81:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGoMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardPassGoMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardItsMyBirthdayMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="myBirthdayCardID" type="xs:int" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q82:GuidBox" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q83:GuidBox" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q84:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardItsMyBirthdayMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardItsMyBirthdayMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardDebtCollectorMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debtCollectorCardID" type="xs:int" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="targetedPlayerGuid" nillable="true" type="q85:GuidBox" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q86:GuidBox" />
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q87:GuidBox" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q88:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardDebtCollectorMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardDebtCollectorMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q89:GuidBox" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q90:GuidBox" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q91:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw5AtStartOfTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStartedMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q92:GuidBox" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q93:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStartedMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasGameStartedMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardSlyDealMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="slyDealCardID" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="targetedPlayerGuid" nillable="true" type="q94:GuidBox" />
        <xs:element minOccurs="0" name="targetedCard" type="xs:int" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setTargetCardIn" nillable="true" type="q95:GuidBox" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q96:GuidBox" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q97:GuidBox" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q98:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardSlyDealMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playActionCardSlyDealMDResult" nillable="true" type="q99:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardForcedDealMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forcedDealCardID" type="xs:int" />
        <xs:element minOccurs="0" name="playersCardToSwapWith" type="xs:int" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setPlayersCardIsIn" nillable="true" type="q100:GuidBox" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="targetedPlayerGuid" nillable="true" type="q101:GuidBox" />
        <xs:element minOccurs="0" name="targetedCard" type="xs:int" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setTargetCardIn" nillable="true" type="q102:GuidBox" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q103:GuidBox" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q104:GuidBox" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q105:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardForcedDealMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playActionCardForcedDealMDResult" nillable="true" type="q106:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardDealBreakerMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dealBreakerCardID" type="xs:int" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="targetedPlayerGuid" nillable="true" type="q107:GuidBox" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setTargeted" nillable="true" type="q108:GuidBox" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q109:GuidBox" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q110:GuidBox" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q111:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardDealBreakerMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playActionCardDealBreakerMDResult" nillable="true" type="q112:BoolResponseBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>