MDWcfWFClient/Service References/MonopolyDealServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="playCardFromHandToBankMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q1:GuidBox" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q2:GuidBox" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q3:GuidBox" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q4:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playCardFromHandToBankMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playCardFromHandToBankMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardOnTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q5:PlayerModel" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q6:Card" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerTargeted" nillable="true" type="q7:PlayerModel" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="cardsTargeted" nillable="true" type="q8:ArrayOfCard" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q9:GuidBox" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q10:GuidBox" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q11:GuidBox" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q12:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardOnTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardOnTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q13:PlayerModel" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q14:Card" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerTargeted" nillable="true" type="q15:PlayerModel" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOn" nillable="true" type="q16:PropertyCardSet" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q17:GuidBox" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q18:GuidBox" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q19:GuidBox" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q20:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playWildRentActionCardOnTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q21:PlayerModel" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q22:Card" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOn" nillable="true" type="q23:PropertyCardSet" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q24:GuidBox" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q25:GuidBox" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q26:GuidBox" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q27:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playStandardRentActionCardOnTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNoMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q28:PlayerModel" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q29:Card" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q30:GuidBox" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q31:GuidBox" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q32:GuidBox" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q33:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNoMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playJustSayNoMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q34:PlayerModel" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q35:Card" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyTo" nillable="true" type="q36:PropertyCardSet" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q37:GuidBox" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q38:GuidBox" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q39:GuidBox" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q40:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSetMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q41:GuidBox" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q42:GuidBox" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q43:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSetMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardNewSetMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q44:PlayerModel" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="propertyCard" nillable="true" type="q45:Card" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="oldSet" nillable="true" type="q46:PropertyCardSet" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyTo" nillable="true" type="q47:PropertyCardSet" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q48:GuidBox" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q49:GuidBox" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q50:GuidBox" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q51:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movePropertyCardMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCardsMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerPaying" nillable="true" type="q52:PlayerModel" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerRecieving" nillable="true" type="q53:PlayerModel" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="cards" nillable="true" type="q54:ArrayOfCard" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q55:GuidBox" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q56:GuidBox" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q57:GuidBox" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q58:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCardsMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payCardsMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q59:GuidBox" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q60:GuidBox" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q61:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discardMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardsToDiscardIDs" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q62:GuidBox" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q63:GuidBox" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q64:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discardMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discardMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGoMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passGoCardID" type="xs:int" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q65:GuidBox" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q66:GuidBox" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q67:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGoMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardPassGoMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q68:GuidBox" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q69:GuidBox" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q70:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw5AtStartOfTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStartedMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q71:GuidBox" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q72:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStartedMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasGameStartedMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="connectToServiceResult" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="guidBoxed" nillable="true" type="q74:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="startGameResult" nillable="true" type="q75:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q76:GuidBox" />
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameGuid" nillable="true" type="q77:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pollStateResult" nillable="true" type="q78:PlayFieldModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q79:GuidBox" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q80:GuidBox" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q81:GuidBox" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q82:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw2AtStartOfTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playCardFromHandToBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q83:GuidBox" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q84:GuidBox" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q85:GuidBox" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q86:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playCardFromHandToBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playCardFromHandToBankResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardOnTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q87:PlayerModel" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q88:Card" />
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerTargeted" nillable="true" type="q89:PlayerModel" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="cardsTargeted" nillable="true" type="q90:ArrayOfCard" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q91:GuidBox" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q92:GuidBox" />
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q93:GuidBox" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q94:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardOnTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardOnTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q95:PlayerModel" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q96:Card" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerTargeted" nillable="true" type="q97:PlayerModel" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOn" nillable="true" type="q98:PropertyCardSet" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q99:GuidBox" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q100:GuidBox" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q101:GuidBox" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q102:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playWildRentActionCardOnTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playWildRentActionCardOnTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q103:PlayerModel" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q104:Card" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setOfPropertiesToRentOn" nillable="true" type="q105:PropertyCardSet" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q106:GuidBox" />
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q107:GuidBox" />
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q108:GuidBox" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q109:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playStandardRentActionCardOnTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playStandardRentActionCardOnTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q110:PlayerModel" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q111:Card" />
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q112:GuidBox" />
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q113:GuidBox" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q114:GuidBox" />
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q115:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playJustSayNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playJustSayNoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q116:PlayerModel" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playedCard" nillable="true" type="q117:Card" />
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyTo" nillable="true" type="q118:PropertyCardSet" />
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q119:GuidBox" />
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q120:GuidBox" />
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q121:GuidBox" />
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q122:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playedCardID" type="xs:int" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q123:GuidBox" />
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q124:GuidBox" />
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q125:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playPropertyCardNewSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playPropertyCardNewSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="player" nillable="true" type="q126:PlayerModel" />
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="propertyCard" nillable="true" type="q127:Card" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="oldSet" nillable="true" type="q128:PropertyCardSet" />
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="setToPlayPropertyTo" nillable="true" type="q129:PropertyCardSet" />
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q130:GuidBox" />
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q131:GuidBox" />
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q132:GuidBox" />
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q133:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="movePropertyCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movePropertyCardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerPaying" nillable="true" type="q134:PlayerModel" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerRecieving" nillable="true" type="q135:PlayerModel" />
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="cards" nillable="true" type="q136:ArrayOfCard" />
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q137:GuidBox" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q138:GuidBox" />
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q139:GuidBox" />
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q140:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payCardsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q141:GuidBox" />
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q142:GuidBox" />
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q143:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardsToDiscardIDs" type="xs:int" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q144:GuidBox" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q145:GuidBox" />
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q146:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="discardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passGoCardID" type="xs:int" />
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q147:GuidBox" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q148:GuidBox" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q149:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="playActionCardPassGoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playActionCardPassGoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q150:GuidBox" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q151:GuidBox" />
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q152:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw5AtStartOfTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw5AtStartOfTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q153:GuidBox" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="serverGuid" nillable="true" type="q154:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasGameStartedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasGameStartedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="referenceAllDataContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="ac" nillable="true" type="q155:ActionCard" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="c" nillable="true" type="q156:Card" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="mc" nillable="true" type="q157:MoneyCard" />
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pb" nillable="true" type="q158:PlayerBank" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="ph" nillable="true" type="q159:PlayerHand" />
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pm" nillable="true" type="q160:PlayerModel" />
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pps" nillable="true" type="q161:PlayerPropertySets" />
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pfm" nillable="true" type="q162:PlayFieldModel" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pp" nillable="true" type="q163:PlayPile" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pc" nillable="true" type="q164:PropertyCard" />
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pcs" nillable="true" type="q165:PropertyCardSet" />
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="psi" nillable="true" type="q166:PropertySetInfo" />
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="rs" nillable="true" type="q167:RentStandard" />
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="taotm" nillable="true" type="q168:TakeActionOnTurnMessage" />
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="tam" nillable="true" type="q169:TurnActionModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="referenceAllDataContractsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectToLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="connectToLobbyResult" nillable="true" type="q170:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGameLobbyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q171:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGameLobbyStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="getGameLobbyStatusResult" type="q172:GameLobbyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllGameLobbys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfAllGameLobbysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="getListOfAllGameLobbysResult" nillable="true" type="q173:ArrayOfGameLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinExistingGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q174:GuidBox" />
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q175:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinExistingGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joinExistingGameLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinNewGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q176:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="joinNewGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="joinNewGameLobbyResult" nillable="true" type="q177:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitGameLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q178:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="exitGameLobbyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exitGameLobbyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLobbyClientReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuidP" nillable="true" type="q179:GuidBox" />
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="clientGuidP" nillable="true" type="q180:GuidBox" />
        <xs:element minOccurs="0" name="readyP" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLobbyClientReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setLobbyClientReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollStateMonopolyDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q181:GuidBox" />
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameGuid" nillable="true" type="q182:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pollStateMonopolyDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="pollStateMonopolyDealResult" nillable="true" type="q183:PlayFieldModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurnMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playerGuid" nillable="true" type="q184:GuidBox" />
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="gameLobbyGuid" nillable="true" type="q185:GuidBox" />
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="playfieldModelInstanceGuid" nillable="true" type="q186:GuidBox" />
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/MDWcfServiceLibrary" minOccurs="0" name="turnActionGuid" nillable="true" type="q187:GuidBox" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="draw2AtStartOfTurnMDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="draw2AtStartOfTurnMDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>